Simple Python ignore file
/.venv
/venv
.DS_Store
Thumbs.db
pycache
.pyc
.coverage
.coverage.
db.sqlite3

Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/.cfg.yml
!.elasticbeanstalk/.global.yml
